body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #3b3b4f;
    text-align: center;
    color: rgb(209, 99, 027);
    background-image: url(img/background.jpg) ;
    padding: 20px;
    font-size: 1.5rem;
}
form{
   color: #ff3f4f;
   background: rgba(0, 0, 0, 0.6);
   text-align: center;
   font-family: 'Source Code Pro', monospace;
}
 h1{
  font-family: arial, sans-serif;    
  font-size: 3rem;  
  border-radius: 80%;
}
div{
    border: none;
    padding: 2rem 0;  
   margin-left: 10%;
   margin-right: 10%;
}
img{
    margin-top: 20%;
}